@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="border-top footer text-muted footer-colour">
    <div class="footer-container text-white">
        @*&copy; 2022 - FrontEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        <div class="row">
            <div class="col-md-7">
                <div>
                    <h4>PT. Pertamina Hulu Energi</h4>
                </div>
                <div class="footer-paragraph">
                    <div>
                        <p>PHE Tower</p>
                        <p>Jl TB. Simatupang Kav 99</p>
                        <p>Jakarta Selatan 12520</p>
                        <p>Indonesia</p>
                    </div>
                </div>
                <div class="social-icon-list">
                    <ul>
                        <li><a href="#"><i class="fas fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fas fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fas fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fas fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 menu-list WhiteFont">
                <h5>Menu</h5>
                <div>
                    <ul>
                        <li><a href="#">Profil Perusahaan</a></li>
                        <li><a href="#">Bisnis Kami</a></li>
                        <li><a href="#">Relasi Investor</a></li>
                        <li><a href="#">Teknologi dan Inovasi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 menu-list">
                <div class="menu-list-2 WhiteFont">
                    <ul>
                        <li><a href="#">Media dan Informasi</a></li>
                        <li><a href="#">Keberlanjutan</a></li>
                        <li><a href="#">Procurement Activity</a></li>
                        <li><a href="#">Customer Survey</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <p>...</p>
            </div>
        </div>
    </div>
</footer>